<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/Layout/HeadPartial.cshtml")

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
         @await Component.InvokeAsync("LayoutSocialMedia")
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/Default/Index" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                @using(Html.BeginForm("ProductSearch","Product",FormMethod.Post))
                {
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" name=id placeholder="Search for products" >
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"><button>Gönder</button></i>
                            </span>
                        </div>
                    </div>
                </form>
                }
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a> 
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
 @await Component.InvokeAsync("LayoutCategory")
    <!-- Navbar End -->


    <!-- Page Header Start -->

    <!-- Page Header End -->


    <!-- Contact Start -->
@RenderBody()
    <!-- Contact End -->


    <!-- Footer Start -->
         @await Html.PartialAsync("~/Views/Layout/FooterPartial.cshtml")

    <!-- Footer End -->


    <!-- Back to Top -->
          @await Html.PartialAsync("~/Views/Layout/JSPartial.cshtml")

</body>

</html>