@using EntityLayer.Concrete
@model List<Product>



        <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    @foreach(var item in Model)
                    {
                    <div class="vendor-item border p-4">
                        <img src="@item.PictureUrl" alt="">
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>