@model ECommerceCore.Models.PasswordChangeViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}



<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <form asp-action="ChangePassword">
                                        <div class="row">

                     <div class="col-md-12 form-group">
                            <label>Eski Şifre</label>
                            <input class="form-control" type="password" asp-for="OldPassword" >
                        </div>


                        <div class="col-md-12 form-group">
                            <label>Yeni Şifre</label>
                            <input class="form-control" type="password" asp-for="NewPassword" >
                        </div>

                        <div class="col-md-12 form-group">
                            <label>Şifre Onay</label>
                            <input class="form-control" type="password" asp-for="PasswordCheck">
                        </div>
                     
                        <button class="btn btn-block" style="background-color:green">Güncelle</button>
                    </div>
                </form>

            </div>
        </div>
        @*       Burası sağ menü
        *@

        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-1">
                <a class="btn btn-block" href="/Profile/Index">Kişisel Bilgilerim       </a> 
                </div>
                   <div class="card-header bg-secondary border-1">
                <a class="btn btn-block" href="/Profile/Adress">Adres Bilgilerim       </a> 
                </div>
                   <div class="card-header bg-secondary border-1">
                <a class="btn btn-block" href="/Profile/ChangePassword">Şifre Değiştir        </a> 
                </div>
                  <div class="card-header bg-secondary border-1">
                <a class="btn btn-block" href="/Profile/OldOrder">Geçmiş Sipraişlerim       </a> 
                </div>
             
               





    </div>

</div>
    </div>


